n8n-telegram-digest.json
{
  "name": "Morning Digest -> Telegram",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            { "field": "cronExpression", "expression": "0 7 * * *" }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every morning 07:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.github.com/repos/shinyamadasan/Meal-Prep/contents/planning/DIGEST.md",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer REPLACE_WITH_YOUR_GITHUB_PAT" },
            { "name": "Accept", "value": "application/vnd.github.raw" },
            { "name": "User-Agent", "value": "n8n-meal-prep-digest" }
          ]
        },
        "options": {
          "response": { "response": { "responseFormat": "text" } }
        }
      },
      "id": "github-get-digest",
      "name": "GitHub: get DIGEST.md (raw)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "chatId": "REPLACE_WITH_YOUR_TELEGRAM_USER_ID",
        "text": "={{ $json.data }}",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "send-digest",
      "name": "Telegram: send digest",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [720, 300],
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_WITH_YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Every morning 07:00": { "main": [[{ "node": "GitHub: get DIGEST.md (raw)", "type": "main", "index": 0 }]] },
    "GitHub: get DIGEST.md (raw)": { "main": [[{ "node": "Telegram: send digest", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "_setup_notes": [
    "NEW workflow (separate from capture) - it has a Schedule trigger, so it does not conflict with the Telegram webhook.",
    "Sends planning/DIGEST.md to Telegram every morning at 07:00 (server time). Edit the cron '0 7 * * *' to taste.",
    "DIGEST.md is regenerated + committed by run-claude.ps1 (Generate-Digest.ps1) after each overnight run.",
    "Fill the 3 REPLACE_WITH_* placeholders: GitHub PAT (Contents read), your numeric Telegram user id (chatId), Telegram credential id.",
    "Accept: application/vnd.github.raw makes the Contents API return the file body as text (works for private repos); the body lands in {{ $json.data }} because the HTTP node response format is 'text'.",
    "If Telegram rejects Markdown formatting on some message, remove the parse_mode field to send as plain text."
  ]
}
