n8n-x-content-poster.json
{
  "name": "[Meal Prep] X Content Poster",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10 */2 * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 2 days",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.github.com/repos/shinyamadasan/Meal-Prep/contents/content/queue",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "User-Agent",
              "value": "n8n-meal-prep-poster"
            }
          ]
        },
        "options": {},
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "github-list-queue",
      "name": "GitHub: list queue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "name": "GitHub PAT - Meal Prep"
        }
      },
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.name }}",
              "rightValue": ".md",
              "operator": {
                "type": "string",
                "operation": "endsWith"
              }
            },
            {
              "leftValue": "={{ $json.type }}",
              "rightValue": "file",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "filter-md",
      "name": "Filter .md files",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "User-Agent",
              "value": "n8n-meal-prep-poster"
            }
          ]
        },
        "options": {},
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "github-get-content",
      "name": "GitHub: get file content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "name": "GitHub PAT - Meal Prep"
        }
      },
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "jsCode": "// Run Once for All Items. Each input item is one GitHub \"get contents\" response:\n// { name, path, sha, content: \"<base64>\", ... }. Decode, parse frontmatter, keep only\n// status: approved, sort by id (content-001 < content-002 sorts correctly as plain strings),\n// pick the oldest, split its body into individual tweets on a --- delimiter.\nfunction parseFrontmatter(raw) {\n  const m = raw.match(/^---\\r?\\n([\\s\\S]*?)\\r?\\n---\\r?\\n([\\s\\S]*)$/);\n  if (!m) return null;\n  const fm = {};\n  m[1].split(/\\r?\\n/).forEach((line) => {\n    const mm = line.match(/^([a-zA-Z_]+):\\s*(.*)$/);\n    if (mm) fm[mm[1]] = mm[2].trim();\n  });\n  return { fm, body: m[2] };\n}\n\nconst candidates = [];\nfor (const item of $input.all()) {\n  const j = item.json;\n  if (!j.content) continue;\n  const raw = Buffer.from(j.content, 'base64').toString('utf8');\n  const parsed = parseFrontmatter(raw);\n  if (!parsed) continue;\n  if ((parsed.fm.status || '').toLowerCase() !== 'approved') continue;\n  candidates.push({ path: j.path, sha: j.sha, id: parsed.fm.id || j.name.replace(/\\.md$/, ''), source: parsed.fm.source || '', body: parsed.body });\n}\n\nif (candidates.length === 0) return [{ json: { found: false, reason: 'no approved drafts in queue' } }];\n\ncandidates.sort((a, b) => (a.id > b.id ? 1 : -1));\nconst next = candidates[0];\nconst tweets = next.body.trim().split(/\\r?\\n---\\r?\\n/).map((t) => t.trim()).filter(Boolean);\nif (tweets.length === 0) throw new Error('content-poster: ' + next.id + ' has status: approved but no tweet text found in its body');\nif (tweets.length > 12) throw new Error('content-poster: ' + next.id + ' has ' + tweets.length + ' tweets, more than this workflow\\'s 12-tweet cap -- ask Claude to raise MAX_TWEETS and regenerate the posting chain');\n\nreturn [{ json: { found: true, path: next.path, sha: next.sha, id: next.id, source: next.source, tweets } }];"
      },
      "id": "pick-oldest",
      "name": "Pick oldest approved",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.found }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "found-one",
      "name": "Posted one?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1340,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $('Pick oldest approved').item.json.tweets.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        }
      },
      "id": "if-slot-0",
      "name": "Tweet 0 exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1560,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twitter.com/2/tweets",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $('Pick oldest approved').item.json.tweets[0] }) }}",
        "options": {},
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twitterOAuth1Api"
      },
      "id": "post-tweet-0",
      "name": "Post tweet 0",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1780,
        300
      ],
      "credentials": {
        "twitterOAuth1Api": {
          "name": "X API - Meal Prep"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $('Pick oldest approved').item.json.tweets.length }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        }
      },
      "id": "if-slot-1",
      "name": "Tweet 1 exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2000,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twitter.com/2/tweets",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $('Pick oldest approved').item.json.tweets[1], reply: { in_reply_to_tweet_id: $node[\"Post tweet 0\"].json.data.id } }) }}",
        "options": {},
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twitterOAuth1Api"
      },
      "id": "post-tweet-1",
      "name": "Post tweet 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2220,
        300
      ],
      "credentials": {
        "twitterOAuth1Api": {
          "name": "X API - Meal Prep"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $('Pick oldest approved').item.json.tweets.length }}",
              "rightValue": 2,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        }
      },
      "id": "if-slot-2",
      "name": "Tweet 2 exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2440,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twitter.com/2/tweets",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $('Pick oldest approved').item.json.tweets[2], reply: { in_reply_to_tweet_id: $node[\"Post tweet 1\"].json.data.id } }) }}",
        "options": {},
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twitterOAuth1Api"
      },
      "id": "post-tweet-2",
      "name": "Post tweet 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2660,
        300
      ],
      "credentials": {
        "twitterOAuth1Api": {
          "name": "X API - Meal Prep"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $('Pick oldest approved').item.json.tweets.length }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        }
      },
      "id": "if-slot-3",
      "name": "Tweet 3 exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2880,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twitter.com/2/tweets",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $('Pick oldest approved').item.json.tweets[3], reply: { in_reply_to_tweet_id: $node[\"Post tweet 2\"].json.data.id } }) }}",
        "options": {},
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twitterOAuth1Api"
      },
      "id": "post-tweet-3",
      "name": "Post tweet 3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3100,
        300
      ],
      "credentials": {
        "twitterOAuth1Api": {
          "name": "X API - Meal Prep"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $('Pick oldest approved').item.json.tweets.length }}",
              "rightValue": 4,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        }
      },
      "id": "if-slot-4",
      "name": "Tweet 4 exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3320,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twitter.com/2/tweets",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $('Pick oldest approved').item.json.tweets[4], reply: { in_reply_to_tweet_id: $node[\"Post tweet 3\"].json.data.id } }) }}",
        "options": {},
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twitterOAuth1Api"
      },
      "id": "post-tweet-4",
      "name": "Post tweet 4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3540,
        300
      ],
      "credentials": {
        "twitterOAuth1Api": {
          "name": "X API - Meal Prep"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $('Pick oldest approved').item.json.tweets.length }}",
              "rightValue": 5,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        }
      },
      "id": "if-slot-5",
      "name": "Tweet 5 exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3760,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twitter.com/2/tweets",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $('Pick oldest approved').item.json.tweets[5], reply: { in_reply_to_tweet_id: $node[\"Post tweet 4\"].json.data.id } }) }}",
        "options": {},
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twitterOAuth1Api"
      },
      "id": "post-tweet-5",
      "name": "Post tweet 5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3980,
        300
      ],
      "credentials": {
        "twitterOAuth1Api": {
          "name": "X API - Meal Prep"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $('Pick oldest approved').item.json.tweets.length }}",
              "rightValue": 6,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        }
      },
      "id": "if-slot-6",
      "name": "Tweet 6 exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4200,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twitter.com/2/tweets",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $('Pick oldest approved').item.json.tweets[6], reply: { in_reply_to_tweet_id: $node[\"Post tweet 5\"].json.data.id } }) }}",
        "options": {},
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twitterOAuth1Api"
      },
      "id": "post-tweet-6",
      "name": "Post tweet 6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4420,
        300
      ],
      "credentials": {
        "twitterOAuth1Api": {
          "name": "X API - Meal Prep"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $('Pick oldest approved').item.json.tweets.length }}",
              "rightValue": 7,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        }
      },
      "id": "if-slot-7",
      "name": "Tweet 7 exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4640,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twitter.com/2/tweets",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $('Pick oldest approved').item.json.tweets[7], reply: { in_reply_to_tweet_id: $node[\"Post tweet 6\"].json.data.id } }) }}",
        "options": {},
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twitterOAuth1Api"
      },
      "id": "post-tweet-7",
      "name": "Post tweet 7",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4860,
        300
      ],
      "credentials": {
        "twitterOAuth1Api": {
          "name": "X API - Meal Prep"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $('Pick oldest approved').item.json.tweets.length }}",
              "rightValue": 8,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        }
      },
      "id": "if-slot-8",
      "name": "Tweet 8 exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        5080,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twitter.com/2/tweets",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $('Pick oldest approved').item.json.tweets[8], reply: { in_reply_to_tweet_id: $node[\"Post tweet 7\"].json.data.id } }) }}",
        "options": {},
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twitterOAuth1Api"
      },
      "id": "post-tweet-8",
      "name": "Post tweet 8",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5300,
        300
      ],
      "credentials": {
        "twitterOAuth1Api": {
          "name": "X API - Meal Prep"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $('Pick oldest approved').item.json.tweets.length }}",
              "rightValue": 9,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        }
      },
      "id": "if-slot-9",
      "name": "Tweet 9 exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        5520,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twitter.com/2/tweets",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $('Pick oldest approved').item.json.tweets[9], reply: { in_reply_to_tweet_id: $node[\"Post tweet 8\"].json.data.id } }) }}",
        "options": {},
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twitterOAuth1Api"
      },
      "id": "post-tweet-9",
      "name": "Post tweet 9",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5740,
        300
      ],
      "credentials": {
        "twitterOAuth1Api": {
          "name": "X API - Meal Prep"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $('Pick oldest approved').item.json.tweets.length }}",
              "rightValue": 10,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        }
      },
      "id": "if-slot-10",
      "name": "Tweet 10 exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        5960,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twitter.com/2/tweets",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $('Pick oldest approved').item.json.tweets[10], reply: { in_reply_to_tweet_id: $node[\"Post tweet 9\"].json.data.id } }) }}",
        "options": {},
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twitterOAuth1Api"
      },
      "id": "post-tweet-10",
      "name": "Post tweet 10",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6180,
        300
      ],
      "credentials": {
        "twitterOAuth1Api": {
          "name": "X API - Meal Prep"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $('Pick oldest approved').item.json.tweets.length }}",
              "rightValue": 11,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        }
      },
      "id": "if-slot-11",
      "name": "Tweet 11 exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        6400,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twitter.com/2/tweets",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $('Pick oldest approved').item.json.tweets[11], reply: { in_reply_to_tweet_id: $node[\"Post tweet 10\"].json.data.id } }) }}",
        "options": {},
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twitterOAuth1Api"
      },
      "id": "post-tweet-11",
      "name": "Post tweet 11",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6620,
        300
      ],
      "credentials": {
        "twitterOAuth1Api": {
          "name": "X API - Meal Prep"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Walks the fixed-size posting chain's node history to find how many tweets actually posted --\n// works whether the thread used all 12 slots or stopped early. Reached either from the\n// last slot's success or from any earlier slot's \"doesn't exist\" branch (a thread shorter than\n// 12 tweets), so this is the single place both paths converge.\nconst ids = [];\nconst orig = $('Pick oldest approved').item.json;\nfunction finish() {\n  return [{ json: { path: orig.path, sha: orig.sha, id: orig.id, source: orig.source, body: orig.tweets.join('\\n\\n---\\n\\n'), postedIds: ids, firstUrl: 'https://x.com/ShinYamadaSan/status/' + ids[0] } }];\n}\n  try { const d = $node[\"Post tweet 0\"].json; if (d && d.data && d.data.id) { ids.push(d.data.id); } else { throw 0; } } catch (e) { return finish(); }\n  try { const d = $node[\"Post tweet 1\"].json; if (d && d.data && d.data.id) { ids.push(d.data.id); } else { throw 0; } } catch (e) { return finish(); }\n  try { const d = $node[\"Post tweet 2\"].json; if (d && d.data && d.data.id) { ids.push(d.data.id); } else { throw 0; } } catch (e) { return finish(); }\n  try { const d = $node[\"Post tweet 3\"].json; if (d && d.data && d.data.id) { ids.push(d.data.id); } else { throw 0; } } catch (e) { return finish(); }\n  try { const d = $node[\"Post tweet 4\"].json; if (d && d.data && d.data.id) { ids.push(d.data.id); } else { throw 0; } } catch (e) { return finish(); }\n  try { const d = $node[\"Post tweet 5\"].json; if (d && d.data && d.data.id) { ids.push(d.data.id); } else { throw 0; } } catch (e) { return finish(); }\n  try { const d = $node[\"Post tweet 6\"].json; if (d && d.data && d.data.id) { ids.push(d.data.id); } else { throw 0; } } catch (e) { return finish(); }\n  try { const d = $node[\"Post tweet 7\"].json; if (d && d.data && d.data.id) { ids.push(d.data.id); } else { throw 0; } } catch (e) { return finish(); }\n  try { const d = $node[\"Post tweet 8\"].json; if (d && d.data && d.data.id) { ids.push(d.data.id); } else { throw 0; } } catch (e) { return finish(); }\n  try { const d = $node[\"Post tweet 9\"].json; if (d && d.data && d.data.id) { ids.push(d.data.id); } else { throw 0; } } catch (e) { return finish(); }\n  try { const d = $node[\"Post tweet 10\"].json; if (d && d.data && d.data.id) { ids.push(d.data.id); } else { throw 0; } } catch (e) { return finish(); }\n  try { const d = $node[\"Post tweet 11\"].json; if (d && d.data && d.data.id) { ids.push(d.data.id); } else { throw 0; } } catch (e) { return finish(); }\nreturn finish();"
      },
      "id": "collect-ids",
      "name": "Collect posted ids",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6840,
        300
      ]
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://api.github.com/repos/shinyamadasan/Meal-Prep/contents/{{ $json.path }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "User-Agent",
              "value": "n8n-meal-prep-poster"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"content: {{ $json.id }} posted to X, removed from queue\",\n  \"sha\": \"{{ $json.sha }}\",\n  \"branch\": \"main\"\n}",
        "options": {},
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "github-delete-queue",
      "name": "GitHub: remove from queue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7060,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "name": "GitHub PAT - Meal Prep"
        }
      },
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "jsCode": "const d = new Date();\nconst yyyy = d.getUTCFullYear();\nconst mm = String(d.getUTCMonth() + 1).padStart(2, '0');\nconst path = 'content/posted/' + yyyy + '/' + mm + '/' + $json.id + '.md';\nconst fm = [\n  '---',\n  'id: ' + $json.id,\n  'source: ' + $json.source,\n  'platform: x',\n  'status: posted',\n  'posted_at: ' + d.toISOString(),\n  'posted_ids: ' + $json.postedIds.join(','),\n  '---',\n  '',\n].join('\\n');\nconst content = fm + $json.body.trim() + '\\n';\nconst contentB64 = Buffer.from(content, 'utf8').toString('base64');\nreturn [{ json: { ...$json, archivePath: path, contentB64 } }];"
      },
      "id": "build-archive",
      "name": "Build posted-archive file",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7280,
        300
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/shinyamadasan/Meal-Prep/contents/{{ $json.archivePath }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "User-Agent",
              "value": "n8n-meal-prep-poster"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"content: {{ $json.id }} archived to posted/\",\n  \"content\": \"{{ $json.contentB64 }}\",\n  \"branch\": \"main\"\n}",
        "options": {},
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "github-create-archive",
      "name": "GitHub: create in posted/",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7500,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "name": "GitHub PAT - Meal Prep"
        }
      },
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "chatId": "REPLACE_WITH_YOUR_TELEGRAM_USER_ID",
        "text": "={{ '✅ Posted ' + $json.id + ' to X (' + $json.postedIds.length + ' tweets): ' + $json.firstUrl }}",
        "additionalFields": {}
      },
      "id": "notify-posted",
      "name": "Telegram: notify posted",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        7720,
        300
      ],
      "credentials": {
        "telegramApi": {
          "name": "Telegram Bot - Meal Prep"
        }
      }
    }
  ],
  "connections": {
    "Every 2 days": {
      "main": [
        [
          {
            "node": "GitHub: list queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub: list queue": {
      "main": [
        [
          {
            "node": "Filter .md files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter .md files": {
      "main": [
        [
          {
            "node": "GitHub: get file content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub: get file content": {
      "main": [
        [
          {
            "node": "Pick oldest approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick oldest approved": {
      "main": [
        [
          {
            "node": "Posted one?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Posted one?": {
      "main": [
        [
          {
            "node": "Tweet 0 exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tweet 0 exists?": {
      "main": [
        [
          {
            "node": "Post tweet 0",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Collect posted ids",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post tweet 0": {
      "main": [
        [
          {
            "node": "Tweet 1 exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tweet 1 exists?": {
      "main": [
        [
          {
            "node": "Post tweet 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Collect posted ids",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post tweet 1": {
      "main": [
        [
          {
            "node": "Tweet 2 exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tweet 2 exists?": {
      "main": [
        [
          {
            "node": "Post tweet 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Collect posted ids",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post tweet 2": {
      "main": [
        [
          {
            "node": "Tweet 3 exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tweet 3 exists?": {
      "main": [
        [
          {
            "node": "Post tweet 3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Collect posted ids",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post tweet 3": {
      "main": [
        [
          {
            "node": "Tweet 4 exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tweet 4 exists?": {
      "main": [
        [
          {
            "node": "Post tweet 4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Collect posted ids",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post tweet 4": {
      "main": [
        [
          {
            "node": "Tweet 5 exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tweet 5 exists?": {
      "main": [
        [
          {
            "node": "Post tweet 5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Collect posted ids",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post tweet 5": {
      "main": [
        [
          {
            "node": "Tweet 6 exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tweet 6 exists?": {
      "main": [
        [
          {
            "node": "Post tweet 6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Collect posted ids",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post tweet 6": {
      "main": [
        [
          {
            "node": "Tweet 7 exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tweet 7 exists?": {
      "main": [
        [
          {
            "node": "Post tweet 7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Collect posted ids",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post tweet 7": {
      "main": [
        [
          {
            "node": "Tweet 8 exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tweet 8 exists?": {
      "main": [
        [
          {
            "node": "Post tweet 8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Collect posted ids",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post tweet 8": {
      "main": [
        [
          {
            "node": "Tweet 9 exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tweet 9 exists?": {
      "main": [
        [
          {
            "node": "Post tweet 9",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Collect posted ids",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post tweet 9": {
      "main": [
        [
          {
            "node": "Tweet 10 exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tweet 10 exists?": {
      "main": [
        [
          {
            "node": "Post tweet 10",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Collect posted ids",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post tweet 10": {
      "main": [
        [
          {
            "node": "Tweet 11 exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tweet 11 exists?": {
      "main": [
        [
          {
            "node": "Post tweet 11",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Collect posted ids",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post tweet 11": {
      "main": [
        [
          {
            "node": "Collect posted ids",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect posted ids": {
      "main": [
        [
          {
            "node": "GitHub: remove from queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub: remove from queue": {
      "main": [
        [
          {
            "node": "Build posted-archive file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build posted-archive file": {
      "main": [
        [
          {
            "node": "GitHub: create in posted/",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub: create in posted/": {
      "main": [
        [
          {
            "node": "Telegram: notify posted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "_setup_notes": [
    "REBUILT after a live error: n8n 2.8.4's Code node runs in a sandboxed task-runner that does NOT support helpers.httpRequestWithAuthentication -- confirmed by the actual error message. Every network call in this version is now a real HTTP Request node with native credential authentication (unaffected by that sandbox restriction); Code nodes here only do pure JS (base64 decode, frontmatter parsing, string building) -- zero network calls from any Code node.",
    "APPROVAL IS NOT HANDLED BY THIS WORKFLOW ON PURPOSE. Only one workflow can own your bot's Telegram webhook (the existing Inbox workflow) -- adding a second Telegram Trigger here would silently steal it. Approving a draft means telling Claude directly to flip content/queue/<id>.md's status from draft to approved and push. This workflow only watches for status: approved on its schedule.",
    "Create an n8n credential of type 'Twitter OAuth1 API' named EXACTLY 'X API - Meal Prep' using the Consumer Key, Consumer Secret, Access Token, and Access Token Secret from developer.x.com's Keys and Tokens page -- the OAuth 1.0 section specifically, not OAuth 2.0 (Client ID/Client Secret are a different, unused system here). App permissions must be Read and Write BEFORE the Access Token was generated, or posting will fail with a permissions error.",
    "The posting phase (reply-chaining a thread) is a fixed, unrolled chain of up to 12 (IF exists -> post) pairs, not a dynamic loop. This is deliberate: threading requires each tweet's request to reference the PREVIOUS tweet's returned id, a genuine sequential dependency n8n's standard loop node (Split In Batches) isn't built for, and this repo doesn't have live access to verify this n8n version's exact loop/state semantics. A bounded static chain, with each node explicitly wired to the next, is far more predictable to author correctly blind. Current drafts max out at 10 tweets; this leaves 2 slots of headroom. If a future thread needs more than 12 tweets, the 'Pick oldest approved' node will throw a clear error naming the limit -- ask Claude to regenerate the chain with a higher MAX_TWEETS rather than hand-editing the JSON.",
    "THIS STILL NEEDS A LIVE TEST BEFORE YOU TRUST THE SCHEDULE -- now more than before, since this is a substantially different structure than what already failed once. Test by: set one queue file to status: approved, then manually run this workflow once from the n8n editor (it WILL actually post to X, not a dry run) and watch it complete node by node. If any node errors, the error message plus which node it happened on is exactly what to bring back for a fix -- these are usually small, targeted corrections once we know which specific node/expression n8n's version disagrees with.",
    "Set this workflow's Error Workflow (3-dot menu -> Settings -> Error Workflow) to '[Meal Prep] Error Alert -> Telegram', same as your other three workflows (D-050) -- so a failed post reaches Telegram instead of failing silently.",
    "Cadence: every 2 days at 10:00 UTC (cron: 0 10 */2 * *) -- edit the Schedule Trigger node directly in the n8n UI to change it. If nothing is status: approved when it fires, the workflow ends quietly at 'Posted one?' -- not an error.",
    "REPLACE_WITH_YOUR_TELEGRAM_USER_ID in the notify node -- same numeric id used in your other three workflows.",
    "Known limitation, unchanged from before: a partial-thread failure (posts 3 of N tweets, then a later call fails) leaves those live on X and the queue file untouched at status: approved, so the next scheduled run reposts the whole thread from tweet 1. If the error alert ever fires mid-thread, check the account and manually delete the orphaned partial thread before the next run."
  ]
}
